*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* global stuyling */
html, body {
    font-family: 'Geneva', Verdana, sans-serif;
    background-color: #eaf9e4;
}

img {
    display: inline-block;
    width: 100%;
    height: 150px;
    border-radius: 6px;
}

.img-wrapper{
    height: 150px;
    width: 200px;   
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: black;
} 

p {
    font-size: 14px;
    line-height: 1.5;
}

h2 {
    font-size: 16px;
}

/* header styling */
header {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
    background-color: #d6f3cc;
}

.header-text {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

.header-text h1 {
    margin-bottom: 15px;
    font-size: 18px;
}

/* navigation */
.nav-bar {
    height: 60px;
    background-color: #94eba8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 70px;
}

.nav-link ul {
    list-style-type: none;
}

.nav-link ul li {
    display: inline-block;
}

.nav-link li a { 
   padding-left: 10px;
   text-decoration: none;
   font-size: 15px;
}

.courses-wrapper {
    display: grid;
    gap: 30px;
    text-align: center;
}

/* course wrapper styling */
.six-month-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

/* six month section styling */
.six-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 5px 10px 5px;
    transition: all ease-in 0.3;
}

.six-month:hover {
    background-color: #d6f3cc;
    box-shadow: 0 0 10px #94eba8 inset;
}

/* six weeks */
.six-week-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.six-week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 80px;
    transition: all ease-in 0.3;
}

.six-week:hover {
    background-color: #d6f3cc;
    box-shadow: 0 0 10px #94eba8 inset;
}






 



